# MEALIE Environment Variable

AUTHENTIK_DOMAIN=authentik_domain
MEALIE_SLUGS=mealie_slugs
MEALIE_CLIENT_ID=mealie_client_id
MEALIE_CLIENT_SECRET=mealie_client_secret
MEALIE_USER_GROUP=authentik_user_group
MEALIE_ADMIN_GROUP=authentik_admin_group
