# MEALIE Environment Variable

AUTHENTIK_DOMAIN='auth.junbeom.work'
MEALIE_SLUGS='mealie'
MEALIE_CLIENT_ID='BWRADse3itIUt6CeYWTYWQe8LZ7Idfg30SAj7Ib7'
MEALIE_CLIENT_SECRET='spWiEt2X43Etw6aYkPXcW2VIr3rs8jmlra8iBMedlGCgBtCFkOvbWLNuFvZtWy2r8hZ0HMFRMWk32ZXRKinznMsZHOjQ3kayMt7Gnj8DTpf3TqNJXeYMLV0hDn23ORHe'
MEALIE_USER_GROUP='Users'
MEALIE_ADMIN_GROUP='Admins'
