# 공통
.env
!.env-sample
**/.DS_Store
containerd/
**/data/
**/config/
**/logs/


# Nginx-Proxy-Manager
stacks/npmplus/data/

# Dockge
dockge/data/

# PostgreSQL
stacks/postgresql/data/

# CloudBeaver
stacks/cloudbeaver/data/

# Homepage