# 공통
.env
!.env-sample
**/.DS_Store
containerd/
**/data/
**/config/
**/logs/


# Nginx-Proxy-Manager
stacks/npmplus/data/
stacks/npmplus/crowdsec/

# Dockge
dockge/data/

# PostgreSQL
stacks/postgresql/data/
stacks/postgresql/logs/
stacks/postgresql/full_backup_latest.sql

# CloudBeaver
stacks/cloudbeaver/data/

# Homepage
stacks/homepage/user_config/logs/
stacks/homepage/admin_config/logs/
!stacks/homepage/user_config/
!stacks/homepage/admin_config/

# Stirling PDF
stacks/stirling-pdf/data/

# IT-Tools
stacks/it-tools/data/

# Mealie
stacks/mealie/data/

# Kopia
stacks/kopia/google-drive-key.json

# VaultWarden
stacks/vaultwarden/vw-data/

# Authentik
stacks/authentik/certs/
stacks/authentik/custom-templates/
stacks/authentik/data/

# Kopia
stacks/kopia/app/

# Uptime Kuma
stacks/uptime-kuma/data/