# PostgreSQL Environment Variables

## Root Database Environment
PG_ROOT_PASSWORD=your_root_password

## Authentik Database Environment
PG_AUTHENTIK_USER_PASSWORD=your_authentik_password

## Mealie Database Environment
PG_MEALIE_USER_PASSWORD=your_mealie_password