# PostgreSQL Environment Variables

## Root Database Environment
PG_ROOT_PASSWORD='your_root_password'

## Authentik Database Environment
PG_AUTHENTIK_USER_PASSWORD='your_authentik_password'

## Mealie Database Environment
PG_MEALIE_USER_PASSWORD='your_mealie_password'

## Forgejo Database Environment
PG_FORGEJO_USER_PASSWORD='your_forgejo_password'

## Shlink Database Environment
PG_SHLINK_USER_PASSWORD='your_shlink_password'

## Paperless-NGX Database Environment
PG_PAPERLESS_USER_PASSWORD='your_paperless_password'

## Rallly Database Environment
PG_RALLLY_USER_PASSWORD='your_rallly_password'