# VualtWarden Envrionment Variables

VAULT_DOMAIN=vaultwarden_domain
AUTHENTIK_DOMAIN=authentik_domain
VAULT_CLIENT_ID=vaultwarden_client_id
VAULT_CLIENT_SECRET=vaultwarden_client_secret
VAULT_SLUGS=vaultwarden_slugs
ADMIN_TOKEN=hashed_admin_token