# Authentik Environment

## Authentik Configuration

AUTHENTIK_IMAGE=authentik_image
AUTHENTIK_TAG=authentik_tag
AUTHENTIK_SECRET_KEY=authentik_secret_key

## postgreSQL ENvironment

PG_AUTHENTIK_USER_PASSWORD=pg_authentik_user_password
