# Stirling-PDF Environment Variables

STIRLING_ADMIN_ID='admin'
STIRLING_ADMIN_PASSWORD='2WC#ZYhne6Q3rO&tJ6@CjuIJ2XfYze'
AUTHENTIK_DOMAIN='auth.junbeom.work'
STIRLING_SLUGS='stirling-pdf'
STIRLING_CLIENT_ID='DrTSUNiPtRs127LXQhOipdYGKJ6GUUqighDsPhyP'
STIRLING_CLIENT_SECRET='IeiHJyUZpO42N5hPdVwJK1yju5DA0yUYoo5LbuJ0lkhAbaqWCpjup2p5zIkO77iYnGG5VX7IMthoDMbpJ0pHYG7FUOC8vXlzw07PK3k4R5gL9KTHMdzkOiC17Gay8w2n'